<div class="container">
  <h1>All Drives</h1>
  <dialog id="addDriveDialog" close>
    <form action="/addDrive" method="post">
      <button type="button" class="exit-dialog">X</button>
      <label for="foldername">Add Drive</label>
      <input type="text" name="foldername" id="foldername" />
      <button type="submit">Add</button>
    </form>
  </dialog>
  <button>Add Drive</button>

  <% if (locals.folders) { %> <% folders.forEach((folder) => { %>
  <a href="/folder/<%= folder.id  %>"
    ><div class="item">
      <%= folder.name %>
      <form
        action="/deleteFolder/<%= currentUser.id %>/<%= folder.id %>"
        method="post"
      >
        <button type="submit">DELETE</button>
      </form>
    </div></a
  >

  <% }) %> <% } %>
  <a href="/logout">Logout</a>
</div>
