<nav>
  <div class="logo">
    <img src="../drive.png" alt="drive icon" />
    <a href="/"><h3>Drive</h3></a>
  </div>

  <ul>
    <% if (locals.currentUser){ %>
    <li><a href="/logout">Logout</a></li>
    <% }else {%>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
