<div class="container">
  <h1>WELCOME TO MINI DRIVE!</h1>
  <p>Store your files. Access them anytime anywhere</p>
  <a href="/login"><button>Login</button></a>
  <a href="/signup"><button>Create new account</button></a>
</div>
