@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
.logo a {
  color: #444746;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
  height: 65px;
  align-items: center;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: #444746;
}

.logo img {
  height: auto;
  width: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  min-height: calc(100vh - 65px);
  background-color: rgb(235, 231, 231);
}
.container .hero-btns,
.container .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-container img {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  color: blue;
  text-decoration: underline;
}

.dialogs-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialogs-btn button {
  border: none;
}

.login-container form,
.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;
}

dialog {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.exit-dialog {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background: transparent;
  border: none;
}

.buttons,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button,
.item,
input {
  background-color: #fff;
  padding: 5px;
}
.paths a {
  color: rgb(23, 105, 247);
}

.paths a:last-child {
  color: gray;
}

form button,
button {
  background-color: #444746;
  color: white;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .container,
  nav {
    padding: 2rem 5rem;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-container img {
    width: 25rem;
    display: block;
  }

  .dialogs-btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .dialogs-btn button,
  button {
    width: 15rem;
  }

  dialog {
    width: 40rem;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  nav {
    padding: 2rem 10rem;
  }
}
