<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>

    <% if (locals.currentUser) {%>
    <h1><%= currentUser.fullname%></h1>
    <form action="/profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" required />
      <button type="submit">submit</button>
    </form>
    <a href="/logout">Logout</a>
    <% } else{ %>
    <h1>Please Login First</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <% } %>
  </body>
</html>
