<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <a href="/">Home</a>
    <% if(locals.data) { %>

    <p>Name: <%= data.name %></p>
    <p>Mimetype: <%= data.metadata.mimetype %></p>
    <p>Last Modified: <%= data.metadata.lastModified %></p>
    <p>Size: <%= data.metadata.size %></p>

    <% } %>
  </body>
</html>
